-# = form_tag({:action => :upload}, :multipart => true) do
-#   = file_field_tag 'uploaded_file'
-#   = submit_tag 'Upload'
= form_for @share_item, url: { action: :upload } do |f|
  = f.file_field :file
  %br
  = f.text_field :extract_code
  %br
  = f.submit 'Upload'
